additional/
excel_source_path/
excel_target_path/
xml_source_path/
xml_target_path/
my/
*.json
*.xml
__pycache__/
iiko_reports/
excel_files_generated/
xml_files_generated/
build/
dist/
logs/
get_database.py
main.spec